<style>
    .navbar {
        border-bottom: 1px solid #ccc;
        color: #333;
    }

    .navbar-brand i {
        color: #007BFF;
        font-size: 24px;
    }

    .nav-link {
        color: #007BFF;
        font-size: 18px;
        padding: 10px;
        text-decoration: none;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .nav-item h5 {
        margin: 0;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-color: #007BFF;
    }
</style>
